
body{
	padding: 0;
	margin: 0px;
	font-size: 1em;
	font-family: sans-serif;
	width: 100%;
	color: #000;
	background-color: #00efff;
}

.nav_bar{
	background-color: #333;
	margin-left:180px;
}

.nav_bar_logo img{
	display: none;
	margin-top: 10px;
	width: 100px;
	float: left;
	transition: 1s;
	transition-delay: 2s;
}

.nav_bar_logo img:hover{
	width: 150px;
	margin-top: -10px;
	margin-left: -20px;
	margin-right: -20px;
	transition: 0.5s;
}


@media screen and (max-width: 1000px){
	.nav_bar {
		margin-left: 0px;
	}

	.nav_bar_logo img{
		display: inline-block;
	}
}

.nav_bar ul{
	margin:0;
	padding: 20px;
}

.nav_bar li{
	padding: 10px;
	color: #fff;
	list-style: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.nav_bar li:hover{
	color: yellow;
	cursor: pointer;
}


.search_box{
	display: inline-block;
	font-size: 16px;
		color: #fff;
	margin-left: 10px;
	margin-right: 20px
}

input{
	width: 100%;
	padding: 5px;
	font-size: 20px;
	border-radius: 20px;
}

.search_btn{
margin-top: -28px;
position: relative;
 float: right;
}



.log_sig_btn{
	float: right;
}



/* Style the side navigation */

@media screen and (max-width: 1000px){
	.sidenav {
		display: none;
	}
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
}

.sidenav_logo img{
width: 100px;
cursor: pointer;
	margin-top: 10px;
	margin-left: 45px;
	transition: 0.5s;
		transition-delay: 2s;
}

.sidenav_logo img:hover{
	width: 150px;
	margin-top: -15px;
	margin-left: 20px;
	transition: 0.5s;
}

.sidenav h2{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  text-align: left;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}




/* Style the content */
.content {
	
	height: auto;
  margin-left: 200px;
  padding-left: 20px;
}

.content a{
	color: #000;
	text-decoration: none;
}

.content h2{
	text-align: center;
	background-color: #00acb3;
	color: #fff;
	padding: 10px;
	border-radius: 10px;
	width: 95%;
}

@media screen and (max-width: 1000px){
	.content {
		margin-left: 0px;
	}
}


.main_cont{
	width: 95%;
	margin-top: 50px;
	padding-bottom: 100px;
	margin-left: 2%;
}

/* Container for flexboxes */
.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
	background-color: #fff;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 50px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 50px 0px #000;
  height: auto; /* Should be removed. Only for demonstration */
}

.column img{
	width: 60%;
	margin-left: 20%;
}

.card_logo img{
	width: 30%;
	float: right;
	margin-top: -15px;
	margin-right: -20px;
}

.item_info{
	background-color:#efefef;
	padding: 5px;
	margin-top: 20px;
	text-align: center;
	border-radius: 5px;
}


.item_info h3{
	color: red;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  .row {
   	flex-direction: column;
    flex-direction: column;
  }
}



/* Style the footer */
.footer_top {
	position: relative;
	background-color: #333;
	width: 100%;
	text-align: right;
	height: 200px;
}

.footer_top a{
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
	list-style: none;
	color: #fff;
	padding: 10px;
  text-align: center;
}



/* Style the footer */
.footer_bot {
	position: relative;
	background-color: #222;
	width: 100%;
	text-align: center;
	height: 300px;
}

.footer_bot a{
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
	list-style: none;
	color: #fff;
	padding: 10px;
  text-align: center;
}







/*Side nav from ZOOBOO_PHP*/

.side_nav {
    height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.5s;
}

.side_nav h3{
	color: #fff;
	margin-left: 20px;
}

.side_nav a {
   color: white;
  padding: 16px;
  text-decoration: none;
  text-align: left;
  display: block;
}

.side_nav a:hover {
    color: #f1f1f1;
    background-color: #999;
}

.side_nav .closebtn {
    position: absolute;
    top: -5px;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    padding: 5px;
}

.side_nav .closebtn:hover{
	color: red;
	background-color: #333;
}

#main {
    color: #fff;
    background-color: #333;
    transition: margin-left .5s;
    margin-right: 0px;
    margin-bottom: 5px;
    padding: 7px 0px 7px 10px;
}

@media screen and (max-height: 450px) {
  .side_nav {padding-top: 15px;}
  .side_nav a {font-size: 18px;}
}

@media screen and (min-width: 1000px){
	 .side_nav {
	 	display: none;
	 }
	 #main{
		display: none;
	}
}